<div class="user-profile">
  <div class="my-header">
    <h1 class="display-5 fw-bold lh-1 my-3"><%= user_profile_name.capitalize %> profile</h1>
    <%= Avatar.call(user: @user) %>
  </div>

  <% if current_user&.admin? %>
    <%= button_to "New topic", topics_path, class: "my-btn my-btn--primary" %>
  <% end %>

  <h2><%= user_profile_name.capitalize %> works</h2>
  
  <% if @submissions.empty? %>
    <%= render "users/empty_state" %>
  <% end %>
  <% @submissions.each do |submission| %>
  
    <%= turbo_frame_tag nested_dom_id(@user, submission), src: submission_user_path(@user, submission_id: submission.id), loading: "lazy" do %>
      <%= render "shared/spinner" %>
    <% end %>

  <% end %>
</div>