<div class="sidebar" 
      data-sidebar-target="toggle" data-action="click->sidebar#toggleClose">
  <div class="sidebar__container">
    <div class="sidebar__inner">
      <div class="sidebar__context">
    
        <button id="close-button" data-action="click->sidebar#toggleClose">
          <%= Icon.new("close_lg").call %>
        </button>
    
        <ul>
          <% if user_signed_in? %>
            <li>
              <%= button_to destroy_user_session_path,
                  method: :delete,
                  class: "sidebar__item" do %>
                <%= Icon.new("sign_out").call %>
                <span>Sign out</span>
              <% end %>
            </li>
            <li>
              <%= link_to user_path(current_user), class: "sidebar__item" do %>
                <%#= Icon.new("user").call %>
                <%= Avatar.call(
                    user: current_user, 
                    extra_classes: [ "avatar-circle--small" ]
                  ) %>
                <span>
                  Your profile
                </span>
              <% end %>
            </li>
          <% if current_user&.admin? %>
            <li>
              <div class="divider"></div>
            </li>
            <li>
              <button class="sidebar__item toggle" data-action="click->sidebar#toggleSub">
                <%= Icon.new("fingerprint").call %>
                <span>
                  Admin
                </span>
                <div data-sidebar-target="arrowIcon"></div>
                <div class="toggle-sub" id="sub">
                  <ul>
                    <li>
                      <%= link_to contacts_path do %>
                        <%= Icon.new("contact").call %>
                        <span>Requests</span>
                      <% end %>
                    </li>
                    <li>
                      <%= link_to sidekiq_web_path do %>
                        <%= Icon.new("sidekiq").call %>
                        <span>Sidekiq</span>
                      <% end %>
                    </li>
                  </ul>
                </div>
              </button>
            </li>
          <% end %>
          <% else %>
            <li>
              <%= link_to new_user_session_path, class: "sidebar__item" do %>
                <%= Icon.new("sign_in").call %>
                <span>Sign in</span>
              <% end %>
            </li>

          <% end %>

          <li>
            <div class="divider"></div>
          </li>
          
          <li>
            <%= link_to root_path, class: "sidebar__item" do %>
              <%= Icon.new("easel").call %>
              <span>
                Current works
              </span>
            <% end %>
          </li>
        
          <li>
            <%= link_to about_path, class: "sidebar__item" do %>
              <%= Icon.new("building").call %>
              <span>
                About
              </span>
            <% end %>
          </li>
        
          <li>
            <div class="divider"></div>
          </li>

          <li data-action="click->sidebar#closeSidebar">
            <%= link_to new_contact_path, 
                data: { controller: "turbo" },
                class: "sidebar__item" do %>
              <%= Icon.call("mail") %>
              <span>
                Get in touch
              </span>
            <% end %>
          </li>
      
        </ul>

      </div>
    </div>
  </div>
</div>
